<div class="app mat-app-background">
  <header>
      <mat-toolbar color="primary">
          <mat-toolbar-row>
              <button mat-icon-button fxShow fxHide.gt-sm routerLink="/sample">
                  <mat-icon>home</mat-icon>
              </button>
              <a class="main-title" routerLink="/home" mat-button>Gitgraph Generator</a>
              <div fxShow fxHide.lt-md>
                  <button routerLink="/home" mat-button>Home</button>
                  <button routerLink="/generate" mat-button>Generate</button>
                  <button routerLink="/about" mat-button>About</button>
              </div>
          </mat-toolbar-row>
      </mat-toolbar>
      <!-- <mat-progress-bar mode="indeterminate" *ngIf="showProgress" color="accent"></mat-progress-bar> -->
  </header>

  <main class="content" role="main" fxLayout="column" fxLayoutGap="1vh" fxLayourFill>
      <router-outlet>
      </router-outlet>
  </main>

  <!-- <footer class="footer">
      <mat-toolbar color="primary">
          <div class="footer-content" fxLayout="row">
              <small>&copy; Gitgraph Generator - Parthiban Sekar 2021</small>
          </div>
      </mat-toolbar>
  </footer> -->
</div>